#age-modal {
  //MODAL INIT
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  z-index: 4;

  // MODAL STYLING - background  #CAB188
    // background:filter-gradient(#a48551, #a48551, vertical);
    background: #eacda3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #d6ae7b, #eacda3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #d6ae7b, #eacda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #543503;

  #age-container {
    width: 80%;
    height: 60%;
    border-radius: 4px;
    
    background-color: #ECD8BE;
    align-self: center;
    justify-self: center;
    display: grid;
    justify-items: center;
    align-items: center;

    border-radius: 10px;

    margin-bottom: 10px;

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);

    #warning-h1 {
      
      line-height: 9vmin;
      text-align: center;
      font-size: 9.5vmin;
      width: 90%;
    }

    #description-p {
      
      text-align: center;
      
     
    }

    #description-p-2 {
     
      text-align: center;
      width:90%;
      
      font-weight:600;
      
    }

    #birthday-form {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      align-items: center;
      grid-row-gap: 10px;

      input {
        width: 80%;
        height: 40px;
        border-radius: 10px;
        border: none;
        background-color: hsla(0, 0, 1, 0.1);
        text-align: center;
      }

      label {
        margin-bottom: -5px;
        font-size: 14px;
      }

      #month,
      #label-month {
        grid-column: 2/3;
      }

      #day,
      #label-day {
        grid-column: 1/2;
      }

      #year,
      #label-year {
        grid-column: 3/4;
      }

      ::-webkit-input-placeholder {
        font-size: 18px;
        font-weight: 600;
        padding: 10px;
      }

      #play-btn {
        grid-column: 1/4;
        border: none;

        background: #a61f6c;
        height: 55px;
        width: 80%;
        border-radius: 50px;

        color: white;
        font-weight: 800;
        font-size: 100%;

        margin-top: 20px;

        box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          background-color: white;
          color: #a61f6c;
          box-shadow: 0 6px 20px 5px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
  #elf-age {
    position: absolute;
    bottom: 5%;
    left: -10%;
    opacity: 0;
    width: 40%;
  }
  // white bottom 
  .white-bottom-age-modal {
    position: absolute;
    
    bottom:0;
    left:0;
    opacity: 1;
    width:100%;

    img {
      object-fit:cover;
      overflow:hidden;
      height:200px;
    }
   
  }
}



//TABLET STYLES
@media screen and (min-width: 720px) {
  #age-container {
    
    #warning-h1 {
      font-size: 5vw !important;
    }
  }
  #description-p {
    align-self: baseline;
  }

  #elf-age {
    left: 0% !important;
    bottom: 7.5% !important;
    width: 20% !important;
  }
}

//DESKTOP STYLES
@media screen and (min-width: 1024px) {
  #age-modal {
    background-color: rgba(0, 0, 0, 0.8);
  }
  #age-container {
    background-color: #ECD8BE !important;
    width: 60% !important;
    height: 40% !important;
    margin-top:-5% !important;
    #warning-h1 {
      font-size: 2.5vw !important;
    }
  }
  
}
