#age-modal {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;

    display:grid;
    z-index:20;

    #age-container {
        width:70%;
        height:60%;
        border-radius: 4px;
        background: #A88852;
        align-self:center;
        justify-self:center;
        display:grid;
        justify-items:center;
        align-items:center;
        

        #warning-h1 {
            color:black;
            text-align: center;

            width:60%;
            font-size:4.5vmin;
        }
        #description-p {
            text-align: center;
        }

        #birthday-form {
            display:grid;
            grid-template-columns:1fr 1fr 1fr;
            justify-items:center;
            align-items:center;
            

            input {
                width:80%;
                border-radius: 50px;
                border:none;
            }

            #label-month {

            }

            #month, #label-month{
                grid-column: 1/2;
               
            }

            #day, #label-day {
                grid-column:2/3;
            }

            #year,#label-year{
                grid-column:3/4;
            }

            #play-btn {
                grid-column:1/4;
                width:80%;
                height:50px;
                margin-top:20px;
                background:#A61F6C;
                color:white;
                font-size:100%;
                
            }
        }
    }
}