#prize-grid-game-winner {
    grid-column: 1/4;
    width: 50%;
    display: grid;
    grid-row-gap:10%;
    justify-self:left;
    margin-left:10%;
  
  
    .prize {
      //3 column grid, text in middle, icon on right
      box-sizing: border-box;
      border-radius: 50px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      p {
        grid-column: 2/3;
        justify-self: center;
      }
    }
  
    .active {
      background-color: #a88852;
      color: #ffffff;
      border: 1px solid #a88852;
    }
  
    .inactive {
      background-color: #484848;
      border: 1px solid #a88852;
      color: #6c6c6c;
    }
  }