#game-description-page {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: #CAB188;
  display: none;
  line-height: 22px;


  #game-description {

    width: 80%;
    height: 75%;
    background-color: #CAB188;
    z-index: 3;
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 10%;

    // CHANGING PRIZE GRID, TO TAKE UP ONE COLUMN!
    
      

    // STYLING THE HEADINGS AND DESCRIPTION
    .game-description-header {
      font-weight: 800;
      line-height: 9vmin;
      margin-top: -2vmin;
      font-size: 9vmin;
    }

    .game-description-subheader {
      font-weight: 200;
      font-size: 4.2vmin;
      margin-top: 3vmin;

      span {
        font-weight: 800;
        
      }
    }


    .game-description-cta {
      border-radius: 50px;
      border: none;
      background: white;
      height: 40px;
      width: 80%;
      color: #CAB188;
      font-weight: 800;
      font-size: 100%;
      box-shadow: 0 2px 10px 3px rgba(0, 0, 0, .1);
      cursor: pointer;
      transition: 0.2s;
      margin-top: 10vmin;

      &:hover {
        box-shadow: 0 6px 20px 5px rgba(0, 0, 0, .2);
      }
    }

    .game-description-hearts-image {
      width: 50vmin;
      margin: 2vmin;
    }
  }

}

//Some elf placements
#elf-description {
  position: fixed;
  bottom: 0;
  left: -11%;
  opacity: 0;
  z-index: 10;
}

// PRIZE GRID ON DESCRIPTION PAGE
#prize-grid-description {
  grid-column: 1/1;
  width: 100%;
  display: grid;
  grid-row-gap:10%;
  justify-self:left;
  


  .prize {
    //3 column grid, text in middle, icon on right
    box-sizing: border-box;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    p {
      grid-column: 2/3;
      justify-self: center;
    }
  }

  .active {
    background-color: #a88852;
    color: #ffffff;
    border: 1px solid #a88852;
  }

  .inactive {
    background-color: #484848;
    border: 1px solid #a88852;
    color: #6c6c6c;
  }
}

// WHITE BOTTOM SVG DESCRIPTION
// #white-bottom-description {
//   bottom:0;
//     left:0;
//     position:fixed;
//     height:12%;
//     max-width:100%;
    
//     overflow:hidden;
// }