#game-name-input-page {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-items: center;
  background: #eacda3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #d6ae7b, #eacda3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #d6ae7b, #eacda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  z-index: 3;

  #game-name-input {
    width: 80%;
    height: 60%;
    margin-top: -10%;
    display: grid;
    align-items: center;
    justify-items: center;
    text-decoration: none;

    .game-name-input-cta {
      border-radius: 50px;
      border: none;
      background: #a61f6c;
      height: 55px;
      width: 80%;
      color: white;
      font-weight: 800;
      font-size: 100%;
      box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: 0.2s;
      margin-top: 64px;
      &:hover {
        
        background-color: white;
        color: #a61f6c;
        box-shadow: 0 6px 20px 5px rgba(0, 0, 0, 0.2);
      }
    }

    .game-name-input-header {
      font-weight: 800;
      font-size: 8vmin;
      line-height: 14vmin;
      text-align: center;
    }

    .game-name-input-subheader {
      font-weight: 200;
      span {
        font-weight: 800 !important;
      }
    }

    #name-input-field {
      border-radius: 50px;
      border: none;
      background: white;
      height: 40px;
      width: 80%;
      padding-left: 10%;
      padding-right: 10%;
    }
  }
}

/// ELF STLYING AT BOTTOM OF SECTION/PAGE
#elf-name-input {
  position: fixed;
  bottom: 0;
  left: -11%;
  opacity: 0;
  z-index: 10;
  width: 40%;
}

// WHITE BOTTOM SVG STYLING
#white-bottom-name-input {
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 100px;
}

.white-bottom-name-input-container {
  bottom: 0;
  left: 0;
  display: grid;
  align-items: end;
  position: fixed;
  height: 15%;
  width: 100vw;
}

//TABLET STYLES
@media screen and (min-width: 720px) {
  #game-name-input-page {
    top: 5%;
  }

  #game-name-input {
    height: 65% !important;
    margin-top: -10% !important;
  }

  #name-input-field {
    width: 50% !important;
    padding: 1em;
  }

  .game-name-input-header {
    font-size: 5vw !important;
    width: 60%;
    text-align: center;
  }
  .game-name-input-subheader {
    font-size: 2.5vw !important;
  }

  .game-name-input-hearts-image {
    width: 25vmin !important;
  }
  .game-name-input-cta {
    width: 30% !important;
  }
  #elf-name-input {
    position: absolute;
    bottom: 0;
    left: -5%;
    opacity: 0;
    z-index: 10;
    width: 25%;
  }
}

//DESKTOP STYLES
@media screen and (min-width: 1024px) {
  #game-name-input {
    height: 65% !important;
    margin-top: 0% !important;
  }

  .game-name-input-header {
    font-size: 3vw !important;
    width: 28% !important;
    font-weight: 800 !important;
    line-height: 1.4 !important;
  }

  .game-name-input-subheader {
    font-size: 1.5vw !important;
    margin-top: 0 !important;
    line-height: 1 !important;

    span {
      font-weight: 800 !important;
    }

    h3 {
      margin-bottom: -50px;
      span {
        font-size: 2.5vw !important;
      }
    }

    #elf-name-input {
      width: 25% !important;
    }
  }

  #name-input-field::placeholder {
    // font-size:3vmin !important;
  }

  .game-name-input-cta {
    margin-top: 0 !important;
    // width:60% !important;
  }

  #elf-name-input {
    height: auto !important;
  }
}
