#email-input-page {
  position:fixed;
  width:100%;
  height:100vh;
  left:0;
  top:0;
  background:#cab188;
  z-index:10;
  display:none;
  opacity:0;
  align-items:center;
  justify-items:center;

}


#game-email-input {
  width: 80%;
  height: 70%;
  color: darkblue;
  display: grid;
  align-items: center;
  justify-items: center;
  // margin-top: -10%;
  
  // flex-direction: column;
  // opacity: 0;
  // display: none;
}

#email-input-field {
  border-radius: 50px;
  border:none;
  background:white;
  height:40px;
  width:80%;
  padding-left:10%;
  padding-right:10%;
}

.game-input-input-cta {
  border: none;

  background: #a61f6c;
  height: 55px;
  border-radius: 50px;
  width: 80%;
  color: white;
  font-weight: 800;
  font-size: 100%;
}

.game-email-input-header{
  font-weight:800;
        font-size:10vmin;
        line-height: 12vmin;
        color:white;
}

.game-email-input-subheader {
  font-weight:200;
  color:white;
}

