// setting main game-container to be a grid, so that it is easy to align and justify items, setting position to fixed for good positioning when landing page is loaded

//TO DO, add greensock animation when the dom is loaded

// ADDED GAME-PAGE, THIS CONTAINS THE WHOLE GAME, SO IT CAN BE CENTERED PROPERLY

#game-page {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color:#CAB188;
}

.game-container {
  width: 100%;
  height: 80%;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 0.8fr;
  align-items: center;
  justify-items: center;

  #game-topbar {
    display: grid;
    grid-column: 1/4;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    height: 100%;
  }
  #player-hearts {
    grid-column: 1/4;

    display: grid;
    align-items: center;
    p {
      font-size: 7vmin;
    }
  }
  #turns {
    display: grid;
    align-items: center;
    margin: auto;
    border-radius: 20px;
    height: 50%;
    width: 100%;
    grid-column: 4/5;
    background-color: white;
    color: black;

    p {
      font-size: 4vmin;
      margin: auto;
      text-align: start;
    }
  }
}




.memory-game {
  grid-column: 1/4;
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 4vmin;
  grid-column-gap: 4vmin;
  grid-template-columns: repeat(3, 1fr);
  z-index: 1;
}

#game {
}

.memory-card {
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background: #a88952;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  margin: auto;
  display: grid;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
  cursor: default;
}

.front-face,
.back-face {
  width: auto;

  height: 80%;
  position: absolute;
  border-radius: 5px;

  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

// Styling of the prize grid below the game - setting width of section to be same as the game above, just change later
#prize-grid {
  grid-column: 1/4;
  width: 80%;
  display: grid;
  grid-row-gap: 2vmin;
  margin-top: 2vmin;

  .prize {
    //3 column grid, text in middle, icon on right
    box-sizing: border-box;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    p {
      grid-column: 2/3;
      justify-self: center;
    }
  }

  .active {
    background-color: #a88852;
    color: #ffffff;
    border: 1px solid #a88852;
  }

  .inactive {
    background-color: #484848;
    border: 1px solid #a88852;
    color: #6c6c6c;
  }
}

