// .speech-bubble-overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;

//   z-index: 101;
//   // display: none;
// }

#elf-speech {
  position:fixed;
  bottom: 0;
  left: -10%;
  opacity: 0;
  width: 40%;
  z-index: 2000;
}

// SPEECH BUBBLE FLOAT UP AND DOWN ANIMATION
@keyframes float-up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}

.speech-bubble {
  position: absolute;
  left: 22%;
  bottom: 15%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 68%;
  display: none;
  opacity: 0;

  .speech-bubble-close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
  }

  h1 {
    font-weight: 200 !important;
    line-height: 6vmin;
  }
  background: white;
  border-radius: 8px;
  color: #282828;

  animation: float-up-down 10s infinite !important;
  box-sizing: border-box;
  padding: 0.5em 0.5em 0.5em 1.5em;
  max-height: 170px;
  display: none;
  .speech-bubble-header {
    font-size: 19px;
    padding-right:30px;
    padding-left:10px;
  }

  .speech-bubble-subheader {
    font-size: 16px;
  }
}

.speech-bubble:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: white;
  border-left: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-left: -15px;
  z-index: -2;
}

//TABLET STYLES
@media screen and (min-width: 720px) {
  .speech-bubble {
    top: 70%;
  }
}

@media screen and (min-width: 1024px) {
  #elf-speech {
    
    width: 20% !important;
    left: 5% !important;
  }

  .speech-bubble {
    left:25% !important;
    width:50% !important;
    margin:auto !important;
    height:6% !important;
    bottom: 18% !important;
  }
}
