@import "game";
@import "number-ticker";
@import "game-description";
@import "game_name_input";
@import "game-email-input";
@import "player-list";
@import "game-winner-form-page";
@import "age-modal";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700&display=swap");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  text-align: center;
}

// img {
//   max-width: 100%;
// }

//Font variable
$theFont: "Open Sans", sans-serif;
//Specifying the fluid and responsive font size that will always fit the browser
$fontSizeFluid: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
//The fluid line height that will always fit the browser
$lineHeightFluid: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));

//Setting the colors varaiables
$lightBrown: #a88852;
$darkBrown: #81693b;
$purple: #a61f6c;

$bottom-menu-height: 7.5%;
$top-menu-height: 10%;
$overlay-menu-height: calc(100% - #{$bottom-menu-height} - #{$top-menu-height});

* {
  margin: 0;
  padding: 0;
  font-family: $theFont;
}

a {
  font-family: $theFont;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
}

ul {
  list-style-type: none;
}
//MENU BARS
#top-menu {
  top: 0;
  width: 100%;
  height: 10%;
  z-index: 100;
  // background-color: $lightBrown;
  position: fixed;
  display: flex;
  
  align-items: center;
  justify-content: center;
  img {
    
  }
}

#bottom-menu {
  position: fixed;
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;

  display: flex;
  height: $bottom-menu-height;
  align-items: center;
  justify-content: space-around;
  z-index: 21;

  #bottom-menu-white {
    
    
  }
  img {
    position:fixed;
    bottom:7.5%;
    left:-100px;
    width:260%;
    background:0;
    fill:red;

    
    object-fit: cover;
    
  }

  i {
    color:black;
    font-size:20px;
  }
}

.bottom-menu-left,
.bottom-menu-middle,
.bottom-menu-right {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bottom-menu-left {
 

}

.bottom-menu-middle {
 

}

.bottom-menu-right {


}

#bottom-menu-overlay {
  position: fixed;
  top: $top-menu-height;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 5;
}

.bottom-menu-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 0px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.overlay-menu-item,
.overlay-menu-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

//delete when content added
.overlay-menu-item:nth-child(1) {
  background-color: lightskyblue;
}
.overlay-menu-item:nth-child(2) {
  background-color: powderblue;
}
.overlay-menu-item:nth-child(3) {
  background-color: lightsteelblue;
}

//Front-page-counter
#counter-container {
  position: absolute;
  top: $top-menu-height;
  left: 0;
  width: 100vw;
  height: $overlay-menu-height;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  color: #999;
}
input:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0);

  /* Firefox < 19 */
  input:-moz-placeholder {
    color: #999;
  }
  input:focus:-moz-placeholder {
    color: rgba(0, 0, 0, 0);
  }

  /* Firefox > 19 */
  input::-moz-placeholder {
    color: #999;
  }
  input:focus::-moz-placeholder {
    color: rgba(0, 0, 0, 0);
  }

  /* Internet Explorer 10 */
  input:-ms-input-placeholder {
    color: #999;
  }
  input:focus:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0);
  }
}
// SETTING WIDTH OF MAIN
main {
  width: 100%;
}


// WEB STYLING 

@media screen and (min-width: 1024px) {
#bottom-menu {
  position: fixed;
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;

  display: flex;
  height: $bottom-menu-height;
  align-items: center;
  justify-content: space-around;
  z-index: 21;

  #bottom-menu-white {
    
    
  }
  img {
    position:fixed;
    bottom:7.5%;
    
    width:115% !important;

    background:0;
    fill:red;

    
    object-fit: cover;
    
  }
}
}


// STYLING THE BACKGROUND SVG
.background-svg { // SVG
  position:fixed;
  z-index:-1;
  height:100%;
  opacity:0.2;
  transform:scale(1.4);
  top:2%;
  
 
}